#home_image { 

	width: 50px;
	height: 50px;
}

#home_title {
	color:white;
	margin-bottom:50px;
}	   
body{ text-align:center; 
	background-image: url("grey.jpg");
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.coming_soon {
	color:white;
	margin-top:50px;
}

.col-centered {
	margin: 0 auto;
    float: none;
}

.object_image{
	margin-top: 50px;
	width: 300px;
	height: 300px;
}

.library-title{
	float:left;
}


.library-image{
	width: 175px;
	height: 175px;
}

.search-bar {
	float: left;
	margin-left: 75%;
}

.category-bar {
	position: relative;
	margin-top: 100px;
	margin-left: 72%;
}

.download-button{
	position: relative;
	margin-left: 72%;
	
}

.clear{
    clear:both
}